claim {
  line-height: 1.25;
  max-width: 600px;
  margin: auto;
  position: relative;
  font-size: 16px;
  color: #555;
  border: 1px lightgrey solid;
  display: block;
  overflow: visible;
}

claim .score{
  display: block;
  float: left;
  font-size: 2em;
  padding-right: .25em;
  max-width: 10em;
  transition: .5s;
  overflow: hidden;
  line-height: 1.1;
}

claim .claim-outer>ul{
  margin: 0 0 0 20px;
  width: 100%;
  padding: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
}

claim .claim {
  position: relative;
  border-radius: 1em;
  background: #ECECEC;
  padding: .25em;
  padding-bottom: 2px;
  min-height: 2.65em;
  font-size: 100%;
  z-index: 1;
  margin: 0 10px 10px 10px;
}

claim .callout{
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 30px;
  z-index: -1;
}

claim .pro .callout {
  left: -10px;
  fill: #c880ff;
  transform: scaleX(-1);
}

claim .con .callout {
  right: -10px;
  fill: #ffa71a;
}

claim .pro {
  background-color: #c880ff;
  color: white;
  border-color: #c880ff;
}

claim .con {
  background-color: #ffa71a;
  color: white;
  border-color: #ffa71a;
}

claim .animate-add-remove-enter {
    overflow: hidden;
    max-height: 0;
  }
  
  claim .animate-add-remove-enter.animate-add-remove-enter-active {
  overflow: hidden;
  max-height: 100px;
  transition: max-height 500ms ease-in;
}

claim .animate-add-remove-leave {
  overflow: hidden;
  max-height: 100px;
}
  
claim .animate-add-remove-leave.animate-add-remove-leave-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms ease-in;
}